<%= form_for(@user) do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :last_name %><br>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %><br>
        <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :company %><br>
        <%= f.text_field :company, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :job_title %><br>
        <%= f.text_field :job_title, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :phone %><br>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :website %><br>
        <%= f.text_field :website, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit nil, class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
