<p class="alert alert-success"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @user.company %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @user.job_title %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @user.website %>
</p>

<p>
  <strong>Sales Force valid:</strong>
  <%= @user.sf_valid? ? 'Yes' : 'No' %>
</p>

<p>
  <strong>Has all attributes?</strong>
  <%= @user.sf_has_all_attr_valid? ? 'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
